<fury-page-layout mode="card">

  <fury-page-layout-header>
    <fury-breadcrumbs current="Payment Methods"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content>
    <fury-card>
      <fury-card-header>
        <fury-card-header-heading>
          <h1>Payment Methods</h1>
        </fury-card-header-heading>
      </fury-card-header>

      <fury-card-content>
        <mat-divider></mat-divider>
        <br />

        <p>
          ePay Merchants can set up and mix and mix between the payment methods they intend on using in their solutions.
        </p>

        <h2>Select your desired payment methods:</h2>

        <!-- Iterate though all the payment methods offered by eZaga -->
        <div fxLayout="row" fxLayoutGap="16px">

          <!-- INSTANT EFT -->
          <div fxLayout="column" fxLayout.lt-sm="row" fxFlex>

            <fury-payment-method-widget
              paymentMethodName="Credit or Debit Card"
              paymentMethodLogo="assets/icons/payment-methods/credit-debit.svg"
            ></fury-payment-method-widget>

          </div>

          <!-- CREDIT/ DEBIT CARD -->
          <div fxLayout="column" fxLayout.lt-sm="row" fxFlex>

            <fury-payment-method-widget
              paymentMethodName="Instant EFT"
              paymentMethodLogo="assets/icons/payment-methods/instant-eft.svg"
            ></fury-payment-method-widget>

          </div>

        </div>
        <!-- Loop ends here -->

      </fury-card-content>
    </fury-card>

  </fury-page-layout-content>

</fury-page-layout>
