<fury-page-layout mode="card">

  <fury-page-layout-header>
    <fury-breadcrumbs current="Payment Methods"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content>
    <fury-card>
      <fury-card-header>
        <fury-card-header-heading>
          <h1>Payment Methods</h1>
        </fury-card-header-heading>
      </fury-card-header>

      <fury-card-content>
        <mat-divider></mat-divider>
        <br />

        <p>
          ePay Merchants can set up and mix and mix between the payment methods they intend on using in their solutions.
        </p>

        <h2>Select your desired payment methods:</h2>

        <!-- Iterate though all the payment methods offered by eZaga -->

        <!-- Loop ends here -->

      </fury-card-content>
    </fury-card>

  </fury-page-layout-content>

</fury-page-layout>
