<mat-card style="min-height: 300px; background-color: #f4f4f4">
  <mat-card-content>
    <!-- Add your typography content here -->
    <h2>Account Details</h2>
    <mat-divider></mat-divider>

    <p>
      <strong>Balance:</strong>
      R##.##
    </p>

    <p>
      <strong>Account Type:</strong>
      Business
    </p>

    <p>
      <strong>Registered Company Name:</strong>
      Jon Doe Cyber Inc.
    </p>

    <p>
      <strong>Company Registration Number:</strong>
      yyyy/######/##
    </p>

  </mat-card-content>
</mat-card>
