<fury-page-layout mode="card">

  <fury-page-layout-header>
    <fury-breadcrumbs current="My Accounts"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content>
    <fury-card>
      <mat-tab-group>
        <mat-tab label="eeZi Account">
          <fury-card-content class="padding-top">
            <fury-account-card-tabbed></fury-account-card-tabbed>
          </fury-card-content>
        </mat-tab>
        <mat-tab label="Top Account">
          <fury-card-content class="padding-top">
            <fury-account-card-tabbed></fury-account-card-tabbed>
          </fury-card-content>
        </mat-tab>
        <mat-tab label="Biz Account">
          <fury-card-content class="padding-top">
            <fury-account-card-tabbed></fury-account-card-tabbed>
          </fury-card-content>
        </mat-tab>
        <mat-tab label="ePay Account">
          <fury-card-content class="padding-top">
            <fury-account-card-tabbed></fury-account-card-tabbed>
          </fury-card-content>
        </mat-tab>
      </mat-tab-group>
    </fury-card>
  </fury-page-layout-content>

</fury-page-layout>
