<fury-page [fxLayoutGap]="gap" class="dashboard" fxLayout="column">

  <div fxFlex="noshrink" fxLayout="column" [fxLayoutGap]="gap"
       fxLayout.gt-lg="row">

    <!-- SALES SUMMARY -->
    <div fxLayout="column" [fxLayoutGap]="gap" [fxFlex]="col(2)"
         fxLayout.gt-sm="row">

      <div [fxFlex.gt-sm]="col(1)" [fxLayoutGap]="gap" fxFlex="grow" fxLayout="column">
        <fury-sales-summary-widget [data]="salesSummaryData$ | async"
                                   [options]="salesSummaryOptions"
                                   class="fullheight">
        </fury-sales-summary-widget>

      </div>

    </div>
  </div>

  <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-lg="row">

    <div fxLayout="column" [fxLayoutGap]="gap" [fxFlex]="col(2)">

      <fury-advanced-pie-chart-widget class="route-animations-elements" [data]="advancedPieChartData$ | async"
                                      [options]="advancedPieChartOptions"></fury-advanced-pie-chart-widget>

      <div [fxLayoutGap]="gap" fxLayout="column" fxLayout.gt-sm="row">
        <fury-donut-chart-widget [data]="top5CategoriesData$ | async"
                                 [options]="top5CategoriesOptions"
                                 [fxFlex]="col(2)"
                                 class="route-animations-elements"></fury-donut-chart-widget>

      </div>
    </div>

  </div>
</fury-page>
