<mat-card  style="min-height: 300px; background-color: #f4f4f4">
  <mat-card-content>
    <!-- Add your typography content here -->
    <h2>Account Limits</h2>
    <mat-divider></mat-divider>

    <p>
      <strong>Send Limit:</strong>
      R100 000.00 (R52 000.00 left)
    </p>

    <p>
      <strong>Receive Limit:</strong>
      R300 000.00 (R252 000.00 left)
    </p>

    <p>
      <strong>Withdraw Limit:</strong>
      (R300 000.00 left)
    </p>

    <p>
      <strong>Withdraw Delay:</strong>
      48 Hours
    </p>

    <p>
      <strong>Next Limit Resets:</strong>
      dd Month yyyy (##) days remaining
    </p>

    <p>
      <strong>Retained Amount:</strong>
      R##.##
    </p>

  </mat-card-content>
</mat-card>
